#gato-gallery{
	background-color: var(--clr-secondary);
}

.grid-container{
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 1em auto;
	width: 90%;
	grid-gap: 10px;
	grid-template-columns: repeat(4, 1fr);
}

.grid-image{
	margin: auto;
}

.grid-image img{
	width: 200px;
	border-radius: 1rem;
}

.g-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-primary);
	height: 50px;
	width: 100vw;
	position: relative;
}

.g-footer .footer-text{
	color: var(--clr-secondary);
	font-size: 0.9rem;
	padding: 0.5rem;
}

.g-footer small{
	font-size: 0.8rem;
}

/* Kamon Gallery Sytles */
.gallery-container{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	margin: 0 auto;
	width: 90%;
}

.gallery-container .image-card{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	height: 300px;
	width: 200px;
}

.image-card img{
	border-radius: 1rem;
	height: 200px;
}

.name{
	color: var(--clr-primary);
	font-size: 1rem;
	padding-top: 1rem;
}

/* Grid Media Queries */
@media screen and (max-width: 900px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(3, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 800px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(2, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 700px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(2, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 450px){
	#gato-gallery .grid-container{
		grid-template-columns: 1fr;
	}
	
	.gallery-container{
		grid-template-columns: 1fr;
	}
}