:root{
	--primary: #263959;
	--secondary: #e4e7ec;
	--hover: #344259;
	--active: #7b90d2;
	--ahover: #2ea9df;
	--lihover: #2f436e;
	--background: #333333;
}

.gallery-container{
	background-color: red;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em;
	align-items: center;
	width: 100%;
	height: 90%;
	padding: 2em;
	position: absolute;
	top: 70px;
	margin: auto auto;
	z-index: -1;
}

.gallery-container img{
	border-radius: 1em;
	box-shadow: 3px 3px 5px #000;
	width: 100%;
}