:root{
	--primary: #263959;
	--secondary: #e4e7ec;
	--hover: #344259;
	--active: #7b90d2;
	--ahover: #2ea9df;
	--lihover: #2f436e;
	--background: #333333;
}

.gallery-container{
	display: flex;
	background-color: red;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 80px;
	height: 100%;
	width: 100%;
}

.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1em;
	padding: 2em;
	width: 90%;
	height: 90%;
}

.gallery img{
	border-radius: 1em;
	box-shadow: 3px 3px 5px #000;
	width: 90%;
}