*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'roboto', sans-serif;
}

body{
	width: 100vw;
	height: 100%;
	background-color: #fff;
	font-size: 18px;
}

header{
	width: 100vw;
	background-color: red;
}

header .banner{
	background-color: #555;
	width: 100vw;
	height: 150px;
}

.container nav{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.nav-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background-color: red;
	height: 50px;
}

nav ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	height: 100%;
	width: 100%;
}

nav ul li{
	padding: 1em 0.5em;
}

nav ul li a{
	color: navy;
	font-size: 1em;
	text-decoration: none;
	border: 2px solid navy;
	border-radius: 10px;
	padding: 5px 10px;
}

nav ul li a:hover{
	background-color: navy;
	color: #fff;
	border: 2px solid #fff;
}

nav .nav-toggle{
	display: none;
}

.hero-text h1{
	color: #fff;
	font-size: 1.5em;
	padding: 1em;
}

#home{
	width: 100vw;
	height: 300px;
	background-color: #222;
}

#about{
	width: 100vw;
	height: 300px;
	background-color: #333;
}

#collection{
	width: 100vw;
	height: 300px;
	background-color: #444;
}

#contact{
	width: 100vw;
	height: 300px;
	background-color: #555;
}

#future{
	width: 100vw;
	height: 300px;
	background-color: #000;
}

footer{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: lightblue;
	position: relative;
	bottom: 0;
	width: 100vw;
}

footer p{
	color: navy;
	font-size: 1em;
	padding: 0.2em;
}

@media only screen and (max-width: 1100px){
	.nav-container nav{
		display: none;
	}
	
	.nav-container{
		display: flex;
		justify-content: flex-end;
	}
	
	.nav-open{
		height: 100vh;
	}
	
	.nav-toggle{
		display: flex;
	}
	
	.nav-toggle{
		cursor: pointer;
		font-size: 32px;
		border: none;
		background: transparent;
		color: var(--clr-secondary);
		margin-right: 1em;
	}
}