/* General Styles */
:root{
	--clr-primary: #263959;
	--clr-secondary: #e4e7ec;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper{
	margin: 0;
	padding: 0;
}

#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background-color: var(--clr-primary);
}

.logo{
	height: 60px;
	padding-left: 2em;
}

.jp-1{
	height: 30px;
	padding-right: 2em;
}


/* Main Navigation Styles */
#main-nav{
	display: flex;
	align-items: center;
	background-color: var(--clr-primary);
}

#main-nav .nav-links{
	display: flex;
	list-style: none;
	padding-right: 2em;
}

.nav-links .nav-link{
	padding: 0 0 0 1em;
}

.nav-link a{
	color: var(--clr-secondary);
	text-decoration: none;
}

.nav-link a:hover{
	color: var(--clr-ahover);
}

.nav-links .cta a{
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	padding: 5px 10px;
	border-radius: 5px;
}

.nav-toggle{
	display: none;
}

.fa{
	color: var(--clr-secondary);
	padding-left: 0.5em;
}

/* Sub Menu Styles */
.sub-links{
	display: none;
}

/* Language Button Styles */

/* Main Content Styles */
#main-content{
	width: 100vw;
	height: 100vh;
}

.heading h1{
	color: var(--clr-secondary);
	text-shadow: 3px 3px #555;
	font-size: 1.5rem;
	padding: 1rem;
	z-index: 2;
}

#main-content .overlay{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0, 0.6);
}

.bg-1a{
	background-image: url(../assets/background/bg-1a.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #333;
	-webkit-background-size: calc(100vw) calc(100vh);
	-moz-background-size: calc(100vw) calc(100vh);
	-o-background-size: calc(100vw) calc(100vh);
	background-size: calc(100vw) calc(100vh);
}
/* Footer Styles */
#footer{
	display: flex:
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-primary);
	width: 100vw;
	position: fixed;
	bottom: 0;
}

#footer .footer-description{
	padding: 10px;
	font-size: 0.7em;
	color: var(--clr-secondary);
}

#footer small{
	font-size: 0.6em;
}
/* Mobile Styles */