/* Global Styles */
:root{
	--clr-primary: #263959;
	--clr-secondary: #e4e7ec;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: var(--clr-background);
	font-size: 18px;
	overflow: hidden;
}

#header-container{
	background-color: var(--clr-primary);
	display: flex;
	align-items: center;
	height: 80px;
	width: 100vw;
}

.logo img{
	display: flex;
	height: 60px;
	padding-left: 1.5rem;
	cursor: pointer;
}

.nav-toggle{
	display: none;
}

.language img{
	height: 30px;
	padding-right: 1.5em;
	cursor: pointer;
}
/* Navigation Sytles */
.navigation{
	background-color: var(--clr-primary);
	height: 80px;
	width: 100vw;
}

.navigation a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 120px;
	background-color: var(--clr-primary);
	color: var(--clr-secondary);
	text-decoration: none;
	font-size: 1.2rem;
}

.navigation .active{
	color: var(--clr-active);
}

.navigation a:hover{
	background-color: var(--clr-lihover);
	color: var(--clr-ahover);
}

.navigation ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding-right: 1.5em;
}

.fa{
	padding: 5px;
}

/* Sub Menu Sytles*/
.navigation li:hover .dropdown-menu > li{
	display: block;
	flex-direction: column;
	top: 0;
}

.dropdown-menu li{
	display: none;
	position: absolute;
	top: 0;
}

.dropdown-menu{
	display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.dropdown-menu li{
	position: relative;
}

.dropdown-menu li a{
	width: 200px;
}
/* Main Content Sytles */
.bg-1a{
	background-image: url(../assets/background/bg-1a.jpg);
	background-size: cover;
	background-position: center;
	height: calc(100vh - 80px);
	width: 100vw;
	overflow: auto;
}
.overlay{
	height: calc(100vh - 80px);
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
}

.hero-text{
	color: var(--clr-secondary);
	text-shadow: 2px 2px #333;
	padding: 1.5em;
	font-size: 2rem;
}
/* Footer Sytles */
.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-primary);
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer p{
	color: var(--clr-secondary);
	font-size: 0.9rem;
	padding: 0.5rem;
}

.footer small{
	font-size: 0.8rem;
}
/* Media Queries */