:root{
	--clr-primary: #263959;
	--clr-secondary: #e4e7ec;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper{
	margin: 0;
	padding: 0;
}

#header{
	display: flex;
	align-items: center;
	height: 80px;
	background-color: var(--clr-primary);
}

.logo{
	height: 60px;
	margin-left: 2em;
}

.nav-toggle{
	display: none;
}

#main-nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
}

#main-nav .nav-links{
	display: flex;
	list-style: none;
}

.nav-links .nav-link{
	padding-left: 1.5em;
}

.nav-link a{
	color: var(--clr-secondary);
	text-decoration: none;
	font-size: 1em;
	height: 100%;
}

.nav-link a:hover{
	color: var(--clr-ahover);
}

.cta a{
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	padding: 5px 10px;
	border-radius: 5px;
}

.cta a:hover{
	background-color: var(--clr-ahover);
	color: var(--clr-secondary);
}

.nav-link .active{
	color: var(--clr-active);
}

.fa{
	color: var(--clr-secondary);
	padding: 0 5px;
}

.sub-links{
	display: none;
	list-style: none;
}

.jp-1{
	height: 30px;
	padding: 0 2em 0 1.5em;
}

#footer{
	display: flex:
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-primary);
	width: 100vw;
	position: fixed;
	bottom: 0;
}

#footer .footer-description{
	padding: 10px;
	font-size: 0.7em;
	color: var(--clr-secondary);
}

#footer small{
	font-size: 0.6em;
	}