/* Global Styles */
:root{
	--clr-primary: #263959;
	--clr-secondary: #e4e7ec;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
}

*{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

body{
	font-size: 18px;
	background-color: var(--clr-secondary);
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar{
	display: none;
}

header{
	width: 100vw;
	height: 70px;
	background-color: var(--clr-primary);
	display: flex;
}

.logo{
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 1rem;
}

.logo img{
	height: 60px;
	cursor: pointer;
}

header .navbar{
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

header .navbar ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 2rem;
}

header .navbar ul li a{
	color: var(--clr-secondary);
	text-decoration: none;
}

.navbar ul li{
	padding: 1rem;
}

.navbar ul li a{
	font-size: 0.8rem;
}

.navbar ul li a:hover{
	color: var(--clr-ahover);
	transition: 0.5s;
}

.main-content{
	width: 100vw;
	height: 100vh;
}

.hero-image{
	background-image: url(../assets/background/bg-1a.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.overlay{
	min-height: calc(100vh - 160px);
	width: 100vw;
	background-color: rgba(0,0,0,0.6);
}

footer{
	height: 60px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	background-color: var(--clr-primary);
}

footer p{
	color: var(--clr-secondary);
	font-size: 0.8rem;
	text-align: center;
}





