/* Global Styles */
:root{
	--clr-primary: #435435; /* Navigation */
	--clr-secondary: #e4e7ec;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #444; /* Body */
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background-color: var(--clr-background);
	height: 100vh;
	width: 100vw;
	font-size: 18px;
	
}

.navigation{
	position: absolute;
	background-color: var(--clr-primary);
	opacity: 0.7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	width: 100vw;
}

.logo{
	display: flex;
	padding-left: 2rem;
	width: 2vw;
}

.navigation ul{
	list-style: none;
	display: flex;
	padding-right: 2rem;
}

.navigation ul li{
	padding-left: 1.5vw;
}

.navigation ul li a{
	text-decoration: none;
	font-size: 1.5vw;
	color: #edffd1;
	text-transform: uppercase;
}

.navigation ul li a:hover{
	color: #bbd195;
}

.navigation ul li .active{
	color: cyan;
}

header{
	width: 100vw;
	height: 100vh;
	background-image: url(../assets/backgrounds/bg-1.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

header .overlay{
	height: 100vh;
	width: 100vw;
	background-color: rgba(2,2,2,  0.2);

}

.hero-container{
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.hero-text{
	color: #fff;
	margin-left: 5%;
	transform: translate(5%, -50%);
}

.hero-text h1{
	font-size: 1.5vw;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #87a96b;
}

.hero-text p{
	font-size: 1.2vw;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px #87a96b;
}

button{
	background-color: #87a96b;
	border: none;
	font-size: 1.2vw;
	padding: 0.5vw;
	margin: 0.5vw 0 0 0;
	color: #000;
	border-radius: 0.5vw;
}

button:hover{
	background-color: #435435;
	color: #fff;
}

.footer{
	background-color: #435435;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 10%;
}

.footer p{
	color: #edffd1;
	font-size: 1.1vw;
}

.footer p small{
	font-size: 1vw;
}

/* Hamburger Styles */
.hamburger{
	display: none;
	cursor: pointer;
	margin-right: 1.5rem;
}

.bar{
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
}

/* Gallery Styles */
.gallery-container{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	margin: 0 auto;
	width: 90%;
}

.gallery-container .image-card{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	height: 300px;
	width: 200px;
}

.image-card img{
	border-radius: 1rem;
	height: 200px;
	cursor: pointer;
}

.grid img{
	border-radius: 1rem;
}


.name{
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--clr-primary);
	font-size: 0.8rem;
}

.gallery-footer{
	background-color: #435435;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100vw;
	height: 10%;
}


/* Lightbox Styles */
#lightbox{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: none;
}

#lightbox.active{
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img{
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	background-color: var(--clr-secondary);
	border: 2px solid #fff;
}

/* Media Queries */

/* 1100 Styles */
@media only screen and (max-width: 1100px){
/* Navigation Styles */
	.navigation ul li{
		display: block;
		text-decoration: none;
		width: 100vw;
	}	
	
	.navigation ul li a{
		height: 40px;
		font-size: 1rem;
	}	
	
	
/* Sub Menu Styles*/

/* Nav Toggle Style */
	ul{
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: var(--clr-primary);
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}
	
	.main-link{
		margin: 16px 0;
	}
	
	.main-menu.active{
		left: 0;
	}
	
	.hamburger{
		display: block;
	}
	
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
/* Language Styles */
	.language{
		display: none;
	}
}

/* 800px Styles */
@media only screen and (max-width: 800px){

}
/* 700px Styles */
@media only screen and (max-width: 700px){

}
/* 450px Styles */
@media only screen and (max-width: 450px){
	
}

/* Grid Media Queries */
@media screen and (max-width: 900px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(3, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 800px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(2, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 700px){
	#gato-gallery .grid-container{
	grid-template-columns: repeat(2, 1fr);	
	}
	
	.gallery-container{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 450px){
	#gato-gallery .grid-container{
		grid-template-columns: 1fr;
	}
	
	.gallery-container{
		grid-template-columns: 1fr;
	}
}