/* Global Styles */
:root{
	--clr-primary: #2a2624;
	--clr-secondary: #333333;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
	--clr-text: #ffffff;
	--clr-card: #9f8170;
	--clr-glyph: #ffffff;
	--clr-heading: #c08e55;
	--clr-heading-background: #bcb087;
}

*{
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
		display: none;
}

body{
	font-size: 20px;
	background-color: var(--clr-primary);
	width: 100vw;
	height: calc(100vh - 120px);
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-secondary);
}

main{
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #444;
	width: 100vw;
}

.heading h1{
	display: inline-block;
	justify-content: center;
	font-size: 2rem;
	margin: 0;
	padding: 1rem;
	text-align: center;
	color: var(--clr-heading);
	background-color: rgba(224, 220, 209, 0.9);
	font-weight: 400;
	text-shadow: 1px 1px #000;
	background-color: var(--clr-heading-background);
	border-radius: 0.5rem;
	margin: 1rem;
}

.logo, .color{
	color: red;
}

.nav-container{
	height: 60px;
	width: 100vw;
}

.main-nav{
	display: flex;
	
}

.nav-links{
	display: flex;
	margin-right: 0.8rem;
	list-style: none;
}

.link{
	padding: 1rem;
}

.link a:hover{
	color: var(--clr-hover);
}

.link a{
	text-decoration: none;
	font-size: 1rem;
	color: var(--clr-text);
}

#hero-image{
	width: 100vw;
	height: 100vh;
}

.bg-01{
	background-image: url(../assets/bg-01.JPG);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/* Glyph Card Styles */
.main-image{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.glyph-container{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	color: var(--clr-glyph);
	padding: 1rem;
	width: auto;
}


.glyph-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	width: 200px;
	height: 300px;
	background-color: var(--clr-card);
	border-radius: 1.5rem;
}

.glyph-text{
	margin: 0 1rem;
	font-size: 4rem;
	margin: 0;
}

.glyph-name{
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}

.letter{
	font-size: 2rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

#logo h1{
	font-size: 1.5rem;
	color: #fff;
	margin-left: 1rem;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	bottom: 0;
	position: fixed;
	height: 60px;
	width: 100vw;
}

footer p{
	color: var(--clr-text);
	font-size: 1rem;
}