/* Global Styles */
:root{
	--clr-primary: #2a2624;
	--clr-secondary: #333333;
	--clr-hover: #344259;
	--clr-active: #7b90d2;
	--clr-ahover: #2ea9df;
	--clr-lihover: #2f436e;
	--clr-background: #333333;
	--clr-text: #ffffff;
	--clr-card: #9f8170;
	--clr-glyph: #ffffff;
}

*{
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-size: 20px;
	background-color: var(--clr-primary);
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--clr-secondary);
}

main{
	
}

.heading h1{
	font-size: 2rem;
	margin: 2rem 2rem;
	color: var(--clr-text);
}

.logo, .color{
	color: red;
}

.nav-container{
	height: 60px;
	width: 100vw;
}

.main-nav{
	display: flex;
	
}

.nav-links{
	display: flex;
	margin-right: 1rem;
	list-style: none;
}

.link{
	padding: 1rem;
}

.link a{
	text-decoration: none;
	font-size: 1rem;
	color: var(--clr-text);
}

/* Glyph Card Styles */
.glyph-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--clr-glyph);
	margin: 2rem;
	padding: 0;
}

.glyph-card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	width: 90%;
	height: 100px;
	background-color: var(--clr-card);
	border-radius: 1.5rem;
}

.glyph-text{
	margin: 0 1rem;
	font-size: 4rem;
	margin: 0;
	padding: 2rem;
}

.glyph-name{
	font-size: 2rem;
	padding: 2rem;
}

.letter{
	background-color: green;
	font-size: 2rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

#logo h1{
	font-size: 1.5rem;
	color: #fff;
	margin-left: 1rem;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	bottom: 0;
	position: fixed;
	height: 60px;
	width: 100vw;
}

footer p{
	color: var(--clr-text);
	font-size: 0.75rem;
}